<div class="table-responsive">
    <table style="width: auto" id="milestoneTable"
      class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
        <th>Select</th>
          <th>Description</th>
          <th>Comment</th>
          <th>Project</th>
          <th>Planned Start Date</th>
          <th>Actual Start Date</th>
          <th>Planned End Date</th>
          <th>Completed(%)</th>

        </tr>
      </thead>
      <tbody>
        <tr class="odd gradeX">
        <td></td>
          <td><textarea placeholder="explain milestone"></textarea></td>
          <td><input type="text" placeholder="Comment" /></td>
          <td><input type="text" placeholder="Project" /></td>
          <td><input type="text" /></td>
          <td><input type="text" /></td>
          <td><input type="text" /></td>
          <td><INPUT TYPE="NUMBER" MIN="0" MAX="100"
            STEP="1" VALUE="0"></td>
          
        </tr>
      </tbody>
    </table>
    </div>
    <button type="button" onclick="newMilestone()"
      class="btn btn-success btn-xs">Add</button>
    <button type="button"
      onclick="deleteRow('milestoneTable')"
      class="btn btn-success btn-xs">Delete</button>