    <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Key Updates</b></ng-template>
          <ng-template ngbTabContent>
              <app-key-updates></app-key-updates>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Risk &amp; Issues</b></ng-template>
          <ng-template ngbTabContent>
              <app-riskandissues></app-riskandissues>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Milestones</b></ng-template>
          <ng-template ngbTabContent>
              <app-milestones></app-milestones>  
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

